
<br>
<br>
<h1>airbnb clone home page!</h1>
<br>
<br>
<br>
<br>
<br>

<h2>

<div class="sc-17e9fa4e-17 goGKqP">
  <h2>Sign up</h2>
  <div>
    <form id="a0-signup-form">
      <fieldset>
        <label class="sc-17e9fa4e-19 dQpruE">
          Email<input name="email" type="email" placeholder="Email" class="sc-17e9fa4e-18 iKJuDc" value="">
          <span class="sc-17e9fa4e-20 bztzPg"></span>
        </label>
        <div class="sc-17e9fa4e-38 hLczEP"></div>
          <span class="sc-17e9fa4e-20 bztzPg"></span>
          <div class="sc-17e9fa4e-38 hLczEP">
            <div class="sc-17e9fa4e-16 cqzQuR">
              <span>
                <p>By continuing, you agree to the <a href="https://www.okta.com/auth0-pss-self-service/" target="_blank" rel="noopener noreferrer">Self Service PSS</a> and <a href="https://www.okta.com/privacy-policy/" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.</p>
              </span>
            </div>
          </div>
          <button id="database" type="submit" data-element-id="btn-submit-email-continue">Continue</button>
      </fieldset>
    </form>
      
    <div class="sc-17e9fa4e-21 iRcHqf">
      <span>or</span>
    </div>
    <div class="sc-17e9fa4e-22 fWoNRk">
      <a id="github"><img src="https://cdn.auth0.com/website/assets/pages/signup/assets/github-avatar-a52f5d5824.svg" loading="eager" alt="Github logo" aria-hidden="false" class="sc-e28dfec6-0 gWvuic"><span>Continue with GitHub</span></a>
      <a id="google-oauth2"><img src="https://cdn.auth0.com/website/assets/pages/signup/assets/google-avatar-9fb334183c.svg" loading="eager" alt="Google logo" aria-hidden="false" class="sc-e28dfec6-0 gWvuic"><span>Continue with Google</span></a>
      <a id="windowslive"><img src="https://cdn.auth0.com/website/assets/pages/signup/assets/microsoft-avatar-293da25034.svg" loading="eager" alt="Microsoft logo" aria-hidden="false" class="sc-e28dfec6-0 gWvuic"><span>Continue with Microsoft</span></a>
    </div>
  </div>
</div>
