
<!-- Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">

        <%= render modal_content %>

    </div>
</div>
<!-- Modal -->