
<!-- Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content w-100">

            <div class="flex pt-3">
       
                <div class="flex-none">

                    <svg width="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>

                </div>
                    
                <div class="flex-grow-1 mb-2">     
                    <%= image_tag("avatar.png", size:"100x100", class:"mx-auto", alt:"site avatar") %>
                </div>

            </div>

            <div class="pt-3">
                   
                <h2 class="h4 text-center">Login/Signup</h2>
            
            </div>

            <hr>

            <div class="modal-body ">
                <form>
                    <!-- Name input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="name1">Name</label>
                        <input type="text" id="name1" class="form-control border border-dark" value="default-name" />
                    </div>

                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="email1">Email address</label> 
                        <input type="email" id="email1" class="form-control border border-dark" placeholder="default-email" value="heidlessemail05@gmail.com" />
                    </div>

                    <!-- password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label class="form-label" for="password1">Password</label>
                        <input type="password" id="password1" class="form-control border border-dark" />
                    </div>

                    <div class="modal-header">
                        <!-- Submit button -->
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block w-100">Sign up</button>
                    </div>
            
                    <div class="modal-header">
                        <button type="button" class="btn btn-light btn-block w-100 border border-dark">
                            <i class="fa fa-brands fa-google"></i> Continue with Google
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->