
<div class="container mt-4">

  <div data-controller="modal"></div>

  <div class="container">
    <h1 class="mb-4 pt-5">airbnb clone: (<%= @all_users.size %> users registered)</h1>
  </div>

  <div class="container mb-5 pt-3 pb-3 text-white bg-primary rounded-5", style="width:500px">
    <h1>test</h1>
  </div>

  <div class="container mb-5 pt-3 pb-3 text-white bg-info rounded-9", style="width:800px">
    <% @all_users.each do |usr|  %>
      <ul>
        <li><%= usr.id %> | <%= usr.email %></li>
      </ul>
    <% end %>
  </div>

</div>
