
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:80px">
  <div class="container-fluid">
    <div class="mx-auto">
      <%= link_to image_tag("airbnb-favicon.ico", class:"mx-5", :alt => "navbar graphic"), root_path %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<%= render 'shared/registration_modal' %>
<%= render 'shared/login_modal' %>

